/* ====================== */
/*         footer         */
/* ====================== */
footer {
    background-color: #212529;
}
footer ul {
    margin-top: 15px;
}
footer p {
    margin-bottom: 15px;
}
footer a:hover,
footer a:focus {
    color: white;
    text-decoration: none;
}
/* ====================== */
/*         footer         */
/* ====================== */
